.jumbotron {
    background-image: url("../images/virus.png");
    background-size: 100% 100%;
    text-align: center;
    color:#f7f7f7;
    font-style: oblique;
}

.jumbotron p {
    color: #eb1120;
    font-weight: bold;
}

body {
    background-color:maroon;
}


